<label for="customRange2" class="form-label">Example range</label>
<input type="range" class="form-range" min="0" max="5" id="customRange2">


<div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="1"> Left (pre-checked)
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" value="middle"> Middle
  </label>
  <label ngbButtonLabel class="btn-primary">
    <input ngbButton type="radio" [value]="false"> Right
  </label>
</div>
<hr>

<br>
<input type="range" min="0" max="100" value="70" step="25" list="steplist" >
<datalist id="steplist">
  <option>0</option>
  <option>25</option>
  <option>50</option>
  <option>75</option>
  <option>100</option>
</datalist>

<br>

<input type="range" value="24" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
<output>24</output>
